* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
}

/* Navbar CSS */
.navbar {
  height: 50px;
  background: black;
  
}

.navbar .nav-img {
  width: 18%;
  height: 114%;
  padding: 5px;
  padding-right: 10px;
}

.navbar h1 {
  position: absolute;
  width: 200px;
  top: 8px;
  left: 5%;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul {
  float: right;
  margin-right: 25px;
  list-style: none;
}

.navbar ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 15px;
}

.navbar ul li a {
  position: relative;
  padding: 5px 0;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.navbar .login {
  padding: 5px;
  height: 37px;
  width: 100%;
  color: black;
  font-size: 16px;
  background: grey;
  outline: none;
  border-radius: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 0px;
}

.navbar .login:hover{
  color: white;
}
/* ------------------------ */

/* Faci-flipcards */

.facilities-container {
  padding: 50px;
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
}

.facilities-container .heading{
  text-align: center;
  font-size:50px;
}

.cards {
  margin: 20px;
  /* background-color: transparent; */
  /* perspective: 1000px; */
  width:33%;
  height:auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
}

.first-card{
  padding:20px;
  margin: 20px;
  border: 1px solid;
  text-align:center;
  background-color: white;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.first-card-inner .first-image{
  width:300px;
  height:300px;
}

.first-card-outer{
  margin: 10px;
}

.second-card{
  padding:20px;
  margin: 20px;
  border:1px solid;
  text-align:center;
  background-color: white;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.second-card-inner .second-image{
  width:300px;
  height:300px;
}

.second-card-outer{
  margin: 10px;
}

.third-card{
  border:1px solid;
  padding:20px;
  margin: 20px;
  text-align:center;
  background-color: white;
  transition: transform 0.8s;
  transform-style: preserve-3d;

}

.third-card-inner .third-image{
  width:300px;
  height:300px;
}

.third-card-outer{
  margin: 10px;
}






.homepage img {
  max-width: 100%;
  height: auto;
  font-size: 0;
  display: block;
  padding-top: 0px;
}

.pricing img {
  max-width: 100%;
  height: 900px;
  font-size: 0;
  display: block;
}

.contact-us img {
  max-width: 100%;
  height: auto;
  display: block;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: black;
}

footer .container {
  max-width: auto;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
}

footer .container p,
a {
  color: #fff;
}

footer .container .middle-box {
  width: 33%;
}

footer .container .left-box {
  width: 33%;
}

footer .container .topic {
  font-size: 22px;
  font-weight: 600;
  color: white;
  margin-bottom: 16px;
}

footer .container p {
  text-align: justify;
}

footer .container .lower .topic {
  margin: 24px 0 5px 0;
}

footer .container .lower i {
  padding-right: 16px;
}

footer .container .middle-box {
  /* margin: 40px;
  margin-top: 0px; */
  padding-left: 80px;
}

footer .container .middle-box a {
  line-height: 32px;
}

footer .container .right-box {
  margin-right: 50px;
}

footer .container .right-box input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}

footer .container .right-box input[type="submit"] {
  height: 40px;
  width: 100%;
  font-size: 18px;
  background: red;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid red;
}

footer .bottom {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  background-color: grey;
}

footer .bottom p {
  text-align: center;
  padding: 10px;
}

footer .bottom a {
  color: #eb2f06;
}
